{% extends "base.html" %}

{% block content %}
<h1>Posts</h1>
<hr>
{% for post in post_list %}
<article>
    <h1>{{ post.title }}</h1>
    <div>{{ post.content|truncatewords:"12" }}</div>
    <p class="align-right">
        <a href="{% url 'blog:post_detail' slug=post.slug %}">read more &hellip;</a>
    </p>
</article>
{% endfor %}
{% endblock content %}
