{% extends "base.html" %}

{% block extrastyles %}
<style>
.clue-answer {
  display: flex;
}

.clue-answer-char {
  border: 1px solid black;
  border-right: none;
  padding: 0 24px;
  font-size: 36px;
  font-weight: 500;
  line-height: 72px;
  height: 72px;
  vertical-align: middle;
  text-shadow: 1px 1px 4px rgba(48, 48, 48, 0.3);
}

.clue-answer > .clue-answer-char:last-child {
  border-right: 1px solid black;
}
</style>
{% endblock extrastyles %}

{% block content %}
<nav class="mt-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'clues:publisher_detail' slug=clue.crossword.publisher.slug %}">{{ clue.crossword.publisher.name }}</a></li>
        <li class="breadcrumb-item"><a href="#">{{ clue.crossword.pubdt|date:"F jS, Y"}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ clue.clue|truncatechars:"20" }}</li>
    </ol>
</nav>
<article>
    <h1>{{ clue.clue }} <small class="text-muted">crossword clue</small></h1>
    <hr>
    <p class="lead">
        Let me guess, you have been playing <strong>{{ clue.crossword.publisher.name }}</strong> crossword and got stuck on the clue
        <em>{{ clue.clue }}</em>. Well, you have come to the right place to find the answer to this clue.
    </p>
    <p>
        While some crosswords are much simpler than others, most require that players have a vast knowledge of the language
        and possibly even various topics. So while crossword puzzles are seen as a more intelligent game, they can be very
        frustrating for players to complete and even experienced crossword players need some help occasionally.
    </p>
    <p>When finding the answers to the clues becomes too difficult, there's no shame in looking for them online.</p>
    <p class="lead text-primary">{{ clue.clue }} crossword clue</p>
    <hr>
    <div class="clue-answer">
    {% for c in clue.answer %}
        <div class="clue-answer-char">{{ c }}</div>
    {% endfor %}
    </div>
    <hr>
    <p>
        Now you have the answer to your clue. Its time to move on to the next clue.
        You can browse through the list with all the answers to the <em>{{ clue.crossword.publisher.name }} crossword</em> of
        <time datetime="{{ clue.crossword.pubdt|date:'c' }}">{{ clue.crossword.pubdt|date:"F jS, Y" }}</time>.
        Or you can use the search form below to find the answer (no matter if its <em>{{ clue.crossword.publisher.name }} crossword</em> or any other crossword).
    </p>

    <hr>
    <form action="{% url 'clues:search' %}" method="g">
        <div class="input-group">
            <input name="q" type="search" class="form-control" placeholder="Search for clues or answers ..." aria-label="Search for clues or answers" aria-describedby="btn-search">
            <button id="btn-search" type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <hr>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">
                    {{ clue.crossword.publisher.name }} crossword of {{ clue.crossword.pubdt|date:"F jS, Y" }} other clues
                </th>
            </tr>
        </thead>
        <tbody>
        {% for clue in clues %}
            <tr>
                <td>
                    <a href="{% url 'clues:clue_detail' slug=clue.slug %}">{{ clue.clue }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        We offer support and help with a wide range of crosswords and are guaranteed to make sure you complete everything;
        the site is also updated regularly to make sure that all of our answers are correct and to add more crosswords to
        the ever growing list.
    </p>
    <p>If there is any problem with the answer, please contact us! We will fix the problem.</p>
</article>
{% endblock content %}
