{% extends "base.html" %}

{% block content %}
<h1>{{ crossword.publisher.name }} crossword published on {{ crossword.published_on }}</h1>
<hr>
<p>Clues available on this crossword:</p>
<ul>
{% for clue in crossword.clues.all %}
    <li>
        <a href="{% url 'clues:clue_detail' slug=clue.slug %}">{{ clue.clue }}</a>
    </li>
{% endfor %}
</ul>
{% endblock content %}
