{% extends "base.html" %}

{% block content %}
<h1>Daily Crosswords</h1>
<hr>
<p>
Our website's aim is to find the answers to all clues to popular crosswords.
Here is the list of all crosswords we have the answers to.
</p>
<p>
This list is updated regularly. If there is a crossword which is not on the list,
please let us know by using the contact form in our website.
</p>
<p>
Just select the crossword you got stuck, to find the answers.
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Publisher</th>
            <th scope="col">Published On</th>
            <th scope="col">Clues</th>
        </tr>
    </thead>
    <tbody>
    {% for crossword in crosswords %}
        <tr>
            <th scope="row">{{ forloop.counter }}.</th>
            <td>
                <a href="{% url 'clues:publisher_detail' slug=crossword.publisher.slug %}">
                    {{ crossword.publisher.name }}
                </a>
            </td>
            <td>
                <i class="bi bi-calendar-event"></i>
                <a href="{% url 'clues:crossword_detail' pk=crossword.pk %}">
                    {{ crossword.pubdt }}
                </a>
            </td>
            <!-- <td>
                <a href="{{ crossword.url }}" target="_blank" rel="noopener,nofollow">{{ crossword.url }}</a>
            </td> -->
            <td>{{ crossword.clues.all|length }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
