{% extends "base.html" %}

{% block content %}
<h1>{{ publisher.name }} <small class="text-muted">Crossword Answers</small></h1>
<hr>
<p class="lead">
    Thank you for playing the <strong>{{ publisher.name }}</strong> crossword.
    Here at Crossword Tracker we have found the answers to the last <strong>{{ publisher.crosswords.count }}</strong> dates
    of {{ publisher.name }} crosswords.
</p>
<p>If you want the answers to clues of other dates, just search using our search bar on the right.</p>
<p>Below is the list of the recent days crossword. Just click on a certain date to find the answers to all clues for that date.</p>

<table class="table table-striped table-hover mb-5">
    <tbody>
    {% for crossword in publisher.crosswords.all %}
        <tr>
            <th scope="row">
                <a href="{% url 'clues:crossword_detail' pk=crossword.pk %}">{{ publisher.name }}, {{ crossword.pubdt|date:"F jS, Y" }}</a>
            </th>
            <td class="text-end">
                {{ crossword.clues.count }} clues
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table class="table table-striped table-hover mb-5">
    <tbody>
    {% for stat in monthly_stats %}
        <tr>
            <th scope="row">
                <a href="">{{ publisher.name }}, {{ stat.date|date:"F Y"}} </a>
            </th>
            <td class="text-end">
                {{ stat.crosswords_count }} crosswords
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table class="table table-striped table-hover mb-2">
    <tbody>
    {% for stat in yearly_stats %}
        <tr>
            <th scope="row">
                <a href="">{{ publisher.name }}, {{ stat.date|date:"Y"}}</a>
            </th>
            <td class="text-end">
                {{ stat.crosswords_count }} crosswords
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
