{% extends "base.html" %}

{% block content %}
<h1>Publishers</h1>
<hr>
<ul>
{% for publisher in publishers %}
    <li>
        <a href="{% url 'clues:publisher_detail' slug=publisher.slug %}">{{ publisher.name }}</a>
    </li>
{% endfor %}
</ul>
{% endblock content %}
