{% extends "base.html" %}

{% block content %}
<h1>Search Results</h1>
<form action="{% url 'clues:search' %}" method="get">
    <div class="input-group input-group-lg mb-2">
        <input type="text" name="q" class="form-control" placeholder="Search for clues or answers ..."
               aria-label="Search" aria-describedby="btn-search"
               value="{{ search_query }}">
        <button type="submit" class="btn btn-lg btn-primary" id="btn-search">Search</button>
    </div>
</form>
<hr>
{% if not search_query %}
<div class="alert alert-danger" role="alert">
No search query provided
</div>
{% else %}
<table class="table">
    <thead>
        <tr>
            <th>Search Results</th>
        </tr>
    </thead>
    <tbody>
    {% for clue in clues %}
        <tr>
            <td>
                <a href="{% url 'clues:clue_detail' slug=clue.slug %}">{{ clue.clue }}</a> (<span class="text-muted">{{ clue.rank }}</span>)
            </td>
        </tr>
    {% empty %}
    <tr>
        <td class="table-warning">No results found!</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock content %}
