{% extends "base.html" %}

{% block content %}

<div class="p-3 mb-3 bg-light rounded-3">
    <div class="container-fluid py-3">
        <h1 class="display-5 fw-bold">Crosswords</h1>
        <p class="fs-4">
        We offer support and help with a wide range of crosswords and
        we want to make sure you complete everything;
        the site is also updated regularly to make sure that all of our
        answers are correct and to add more crosswords to the ever growing list.
        </p>
        <form action="{% url 'clues:search' %}" method="get">
            <div class="input-group input-group-lg mb-2">
                <input type="text" name="q" class="form-control" placeholder="Search for clues or answers ..." aria-label="Search" aria-describedby="btn-search">
                <button type="submit" class="btn btn-lg btn-primary" type="button" id="btn-search">Search</button>
            </div>
        </form>
    </div>
</div>

<div class="py-3 my-3">
    <div class="row">
        <div class="col">
            <h2>Daily Clues</h2>
            <div class="list-group">
            {% for publisher in active_publishers %}
                <a href="{% url 'clues:publisher_detail' slug=publisher.slug %}" class="list-group-item list-group-item-action">
                    {{ publisher.name }}
                </a>
            {% empty %}
                <a href="#" class="list-group-item list-group-item-action disabled">
                    No publishers available
                </a>
            {% endfor %}
            </div>
        </div>
        <div class="col">
            <h2>Latest Clues</h2>
            <div class="list-group">
            {% for clue in latest_clues %}
                <a href="{% url 'clue_detail' slug=clue.slug %}" class="list-group-item list-group-item-action">
                    {{ clue.clue }}
                </a>
            {% empty %}
                <a href="#" class="list-group-item list-group-item-action disabled">
                    No clues available
                </a>
            {% endfor %}
            </div>
        </div>
        <div class="col">
            <h2>Random Clues</h2>
            <div class="list-group">
            {% for clue in random_clues %}
                <a href="{% url 'clue_detail' slug=clue.slug %}" class="list-group-item list-group-item-action">
                    {{ clue.clue }}
                </a>
            {% empty %}
                <a href="#" class="list-group-item list-group-item-action disabled">
                    No clues available
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
