{% extends "base.html" %}

{% block content %}
<h1>Privacy Policy</h1>
<hr>
<article>
    <h3>Privacy Policy for Crossword Tracker</h3>
    <p>
        At Crossword Tracker, the privacy of our website visitors is very important.
        This privacy policy explains the types of personal data accepted and recorded by
        www.CrosswordTracker.org and how we utilize it.
        By visiting or accessing our Site, you hereby agree to our privacy policy and consent to its terms.
        If you do not agree to all of the terms of this policy, please do not use our website.
        This Privacy policy may be revised from time to time without prior notice, so do check back occasionally.
    </p>
    <h3>Information We Collect</h3>
    <p>
        As it is with many other websites, www.CrosswordTracker.org records the data specific to log files.
        The information in the log files normally includes your internet protocol address, Internet Service Provider,
        the internet browser you used to visit our website (like Mozilla Firefox or Internet Explorer),
        the time you visited our website and which web pages you visited through our site.
        Such data is used to enhance the user experience, facilitate site performance and strengthen our customer support.
    </p>
    <h3>Cookies and Web Beacons</h3>
    <p>
        CrosswordTracker.org makes use of cookies to store information, including your individual preferences whenever you visit our website.
        This could include things like only displaying a popup message once you visit or the opportunity to access to a number of our features.
        We likewise use third party advertisements on www.CrosswordTracker.org to help support our website.
        Many of these advertisers may use technology including but not limited to cookies and/or web beacons as they advertise on our website.
        Crossword Tracker and its advertisers sometimes collect information about your device for our services.
        The data is obtained in a statistical manner for our use or advertisers on our website.
        Data collected does not personally identify you.
        It is only aggregate statistics regarding our website visitors and the way they used the resources available through our site.
        This is basically dedicated towards Geo-targeting practices or displaying specific ads related to certain web pages visited.
    </p>
    <h3>DoubleClick DART Cookies</h3>
    <p>
        In addition, we may utilize DART cookies for advertisement serving through Google’s DoubleClick,
        which puts a cookie on your computer’s hardware while you browse the internet and visit a website
        making use of DoubleClick ads (which includes some Google AdSense advertisements).
        This cookie is used as a tool to offer ads relevant to you and your interests.
        These interest-based targeted ads will be served according to your prior browsing history.
        DART does NOT record personal information about you. It works by using “non-personally identifiable information.”
        Personal information includes name, contact address, email address, phone number and credit card numbers, and social security numbers.
        The site allows you to opt-out of this ad serving by visiting http://www.DoubleClick.com/privacy/dart_adserving.aspx.
        You can selectively turn off or disable our cookies or third-party cookies in your web browser settings,
        or even manage preferences in programs. Note that, this may affect the way you interact with our website as well as various other sites.
        Deletion of cookies does not necessarily mean you are completely opted out of any advertising campaign platform.
        Except if you have settings that disallow cookies, a new cookie will be stored later when you visit a website serving the ads.
    </p>
    <h3>Third Party Links</h3>
    <p>
        At our discretion, CrosswordTracker.org may include or offer third party services or products on our website.
        These third-party sites have their own separate privacy statements.
        Hence, we are not responsible or liable for the activities and content of these linked sites.
        Nevertheless, we endeavor to protect the credibility of our website and appreciate any feedback regarding these websites.
        Online Privacy Policy Only This privacy statement is applicable only to our web-based activities and is valid for our
        website visitors with regards to information recorded and/or shared there.
        This policy is not applicable to any information obtained offline or through means other than this site.
    </p>
    <h3>Update</h3>
    <p>
        This Privacy Policy was last updated on <time datetime="2020-01-02">Wednesday, January 2nd, 2020</time>.
        If we modify, update or make any revisions to our privacy policy, those modifications will be published on this page.
        Should you require any further information or have any inquiries regarding our privacy policy, please do not hesitate
        to contact us by email at team@crosswordtracker.org.
    </p>
</article>
{% endblock content %}
